<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Instagram</title>
    <link rel="stylesheet" href="/public/css/style.css">
    <link rel="icon" href="https://upload.wikimedia.org/wikipedia/commons/thumb/9/96/Instagram.svg/1200px-Instagram.svg.png">
</head>
<body>
    <header>
      <div class="navbar">
        <div class="navbar-title">
            <a href="#">
                Instagram
            </a>
        </div>
        <div class="navbar-options">
            <div class="nav-buttons">
                <button>Sign Up</button>
                <button>Login</button>
            </div>
        </div>
      </div>
    </header>
    <main>
        <div class="profile-section">
            <div class="profile-box">
                <div class="profile-photo">
                    <img src="<%= data.profile %>" alt="profile">
                </div>
                <div class="profile-info">
                   <h3><%= data.name %></h3>
                   <p id="followers"><%= data.followers %></p>
                   <p>posts</p>
                </div>
            </div>
        </div>
        <div class="posts">
            <div class="post-images">
                <% for(let post of data.posts) { %>
                <div class="images-list">
                    <img src="<%= post.image %>" alt="">
                </div>
                <% } %>
            </div>
        </div>
    </main>
</body>
</html>